<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>勤務時間の入力</title>
</head>
<body>
<div th:replace="fragments/menuHead::menuHead('勤務時間入力')"></div>

<div class="ui container">
  <div class="pageHeader">
    <h1 class="ui center aligned header">勤務時間の入力</h1>
  </div>

  <div class="attendanceInput">
    <form id="custom-form" class="ui large form" name="body"
          method="post" action="#"
          th:object="${attendanceForm}"
          th:action="@{/timerecord}">

      <div class="field">
        <label>氏名</label>
        <div class="eight wide field">
          <select class="ui search dropdown" th:field="*{employeeNumber}">
            <option th:each="employee : ${employees.list()}" th:value="${employee.employeeNumber()}" th:text="${employee.name()}">
              DUMMY
            </option>
          </select>
        </div>
      </div>

      <div class="field">
        <label>勤務日</label>
        <div class="eight wide field">
          <input class="short-input" type="date" placeholder="2018-01-01"
                 th:field="*{workDate}"/>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('workDateComplete')}">
          <span th:errors="*{workDateComplete}">勤務日を入力してください</span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('workDateValid')}">
          <span th:errors="*{workDateValid}">勤務日が不正です</span>
        </div>
      </div>

      <div class="field">
        <label>開始時刻</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="9"
                   th:field="*{startHour}"
            />
            <div class="ui basic label">時</div>
          </div>
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="30"
                   th:field="*{startMinute}"
            />
            <div class="ui basic label">分</div>
          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('startTimeComplete')}">
          <span th:errors="*{startTimeComplete}">開始時刻を入力してください</span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('startTimeValid')}">
          <span th:errors="*{startTimeValid}">開始時刻が不正です</span>
        </div>
      </div>

      <div class="field">
        <label>終了時刻</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="12"
                   th:field="*{endHour}"
            />
            <div class="ui basic label">時</div>
          </div>
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="30"
                   th:field="*{endMinute}"
            />
            <div class="ui basic label">分</div>

          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('endTimeComplete')}">
          <span th:errors="*{endTimeComplete}">終了時刻を入力してください</span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('endTimeValid')}">
          <span th:errors="*{endTimeValid}">終了時刻が不正です</span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('workTimeValid')}">
          <span th:errors="*{workTimeValid}">終了時刻には開始時刻よりあとの時刻を入力してください</span>
        </div>
      </div>

      <div class="field">
        <label>休憩時間</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="15"
                   th:field="*{daytimeBreakTime}"
            />
            <div class="ui basic label">分</div>
          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('daytimeBreakTimeValid')}">
          <span th:errors="*{daytimeBreakTimeValid}">休憩時間が不正です</span>
        </div>
      </div>

      <div class="field">
        <label>休憩時間（深夜）</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="15"
                   th:field="*{midnightBreakTime}"
            />
            <div class="ui basic label">分</div>
          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('midnightBreakTimeValid')}">
          <span th:errors="*{midnightBreakTimeValid}">休憩時間（深夜）が不正です</span>
        </div>
      </div>

      <div class="ui center aligned basic segment">
        <button class="ui positive button">登録</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>