<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>従業員情報の登録の確認</title>
</head>
<body>
<div th:replace="fragments/menuHead::menuHead('')"></div>

<header class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        従業員情報の登録の確認
      </h1>
    </div>
  </div>
</header>

<main class="container">
  <div class="employeeInput has-text-centered">

    <div class="message is-info">
      <p class="message-body">
        従業員情報を登録します。<br>
        確認の上、登録するボタンを押してください。
      </p>
    </div>

    <div class="form">
      <table class="table is-bordered is-fullwidth">
        <tr>
          <td class="has-text-centered tableHeader">氏名</td>
          <td>
            <p th:text="${employeeToRegister.name()}">山田 太郎</p>
          </td>
        </tr>
        <tr>
          <td class="has-text-centered tableHeader">メールアドレス</td>
          <td>
            <p th:text="${employeeToRegister.mailAddress()}">someone@example.com</p>
          </td>
        </tr>
        <tr>
          <td class="has-text-centered tableHeader">電話番号</td>
          <td>
            <p th:text="${employeeToRegister.phoneNumber()}">0120-888-888</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</main>

<div class="pageFooter has-text-centered">
  <a class="button is-light"
     th:href="@{/employees/register/input/again}">入力に戻る</a>
  <a class="button is-primary is-outlined"
     th:href="@{/employees/register/register}">登録</a>
</div>
</body>
</html>