<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>従業員情報の詳細</title>
</head>
<body>
<div th:replace="fragments/menuHead::menuHead('')">
</div>
<div class="ui container">
  <div class="pageHeader">
    <h1 class="ui center aligned header">従業員情報の詳細</h1>
  </div>

  <div class="userInfo">
    <table class="ui celled definition table">
      <tr>
        <td class="six wide tableHeader">従業員番号</td>
        <td class="ten wide"
            th:text="${worker.workerNumber()}">1</td>
      </tr>
      <tr>
        <td class="six wide tableHeader">従業員名</td>
        <td class="ten wide"
            th:text="${worker.name()}">山田 太郎</td>
      </tr>
      <tr>
        <td class="six wide tableHeader">メールアドレス</td>
        <td class="ten wide"
            th:text="${worker.mailAddress()}">someone@example.com</td>
      </tr>
      <tr>
        <td class="six wide tableHeader">従業員名</td>
        <td class="ten wide"
            th:text="${worker.phoneNumber()}">0120-888-888</td>
      </tr>
    </table>
  </div>

  <div class="ui center aligned basic segment">
    <a class="ui grey button" th:href="@{/workers}">一覧に戻る</a>
    <a class="ui positive button"
       th:href="@{/workers/{workerNumber}/update(workerNumber=${worker.workerNumber()})}">
      変更
    </a>
    <button id="deleteConfirmButton" class="ui negative button">
      削除
    </button>
  </div>
</div>

<!-- 削除の確認 -->
<div id="deleteConfirmModal" class="ui modal">
  <div class="header">
    削除の確認
  </div>
  <div class="content">
    <div class="description">
      <p>この従業員を削除しますか？</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui grey deny button">
      キャンセル
    </div>
    <a id="deleteButton" class="ui negative button"
       th:href="@{/workers/{workerNumber}/delete(workerNumber=${worker.workerNumber()})}">
      削除
    </a>
  </div>
</div>
<script>
    $('#deleteConfirmButton').click(function () {
        $('#deleteConfirmModal').modal('show');
        }
    );
</script>

<!-- 変更の完了 -->
<div id="updateCompletedModal" class="ui modal">
  <div class="content">
      <p>従業員情報を変更しました</p>
  </div>
  <div class="actions">
    <div class="ui positive deny button">
      ＯＫ
    </div>
  </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var updateResult = /*[[${updateResult}]]*/ '';
    $(function(){
        if(updateResult === 'completed'){
            $('#updateCompletedModal').modal('show');
        }
    });
    /*]]>*/
</script>
</body>
</html>