<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>従業員の一覧</title>
</head>
<body>
<div th:replace="fragments/menuHead::menuHead('従業員')">
</div>

<div class="ui container">
  <div class="pageHeader">
    <h1 class="ui center aligned header">従業員の一覧</h1>
  </div>
  
  <div class="ui center aligned basic segment">
    <a class="ui labeled icon primary button"
       th:href="@{/worker/register}">
      <i class="user plus icon"></i>従業員の新規登録</a>
  </div>
  
  <div class="workerList">
    <div class="ui basic segment">
      <table class="ui striped celled table">
       <thead>
          <tr class="center aligned">
            <th class="three wide">従業員番号</th>
            <th class="three wide">従業員名</th>
            <th class="three wide">契約開始日</th>
            <th class="seven wide"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="worker : ${workers.list()}">
            <td class="right aligned"
                th:text="${worker.workerNumber()}"/>
            <td th:text="${worker.name()}"/>
            <td></td>
            <td class="ui center aligned">
            <!-- TODO:登録や変更から戻ると入るとここ崩れる -->
              <a class="ui tiny primary basic button"
                 th:href="@{/worker/{workerNumber}/update(workerNumber=${worker.workerNumber()})}">
                <i class="edit icon"></i>従業員情報の変更
              </a>
              <a class="ui tiny positive basic button"
                 th:href="@{/worker/wage/{workerNumber}(workerNumber=${worker.workerNumber()})}">
                <i class="calculator icon"></i>時給の登録
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>