<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead"
      th:with="title='ユーザー登録 確認画面'"/>
<body>
<div class="container">
    <h1>ユーザー確認画面</h1>
    <div th:object="${user}">
        <div>
            <label class="control-label">ユーザーID</label>
            <div class="control-label" th:text="*{id.value}">hoge@example.com</div>
        </div>
        <div>
            <label class="control-label">名前</label>
            <div class="control-label" th:text="*{name.value}">hoge fuga</div>
        </div>
        <div>
            <label class="control-label">生年月日</label>
            <div class="control-label" th:text="*{birthDate.value}">1900/10/21</div>
        </div>
        <div>
            <label class="control-label">性別</label>
            <div class="control-label" th:text="*{gender.name()}">男性</div>
        </div>
        <div>
            <label class="control-label">電話番号</label>
            <div class="control-label" th:text="*{phoneNumber.value}">0120-888-888</div>
        </div>
    <a th:href="@{/user/registration/register}" class="btn btn-primary">登録する</a>
    <a th:href="@{/user/registration}" class="btn btn-default">戻る</a>
    </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>