<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead"
      th:with="title='ユーザー登録'"/>
<body>
<div class="container">
    <h1>ユーザー登録画面</h1>
    <form name="body" method="post" th:object="${user}" action="#" th:action="@{/user/registration/confirm}">
    <ul class="bg-danger">
        <li th:each="e : ${#fields.globalErrors()}" th:class="text-danger" th:text="${e}" />
    </ul>
    <fieldset>
        <div class="form-group" >
            <legend>登録情報</legend>
            <div th:classappend="${#fields.hasErrors('id.value')}? 'has-error'">
                <label class="control-label" for="userId">ユーザーID</label>
                <input class="form-control" th:field="*{id.value}" type="email" id="userId"/>
                <div class="control-label" for="userId" th:if="${#fields.hasErrors('id.value')}">
                    <label th:errors="*{id.value}">ユーザーID 入力エラー</label>
                </div>
            </div>
            <div th:classappend="${#fields.hasErrors('name.value')}? 'has-error'">
                <label class="control-label" for="name">名前</label>
                <input class="form-control" th:field="*{name.value}" type="text" id="name"/>
                <div class="control-label" for="name" th:if="${#fields.hasErrors('name.value')}">
                    <label th:errors="*{name.value}">名前　入力エラー</label>
                </div>
            </div>
            <div th:classappend="${#fields.hasErrors('birthDate.*')}? 'has-error'">
                <label class="control-label" >生年月日</label>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">西暦</label>
                        <input class="form-control" type="text" th:field="*{birthDate.year}" placeholder="2015"/>
                        <label class="control-label">年</label>
                        <input class="form-control" type="text" th:field="*{birthDate.month}" placeholder="12"/>
                        <label class="control-label">月</label>
                        <input class="form-control" type="text" th:field="*{birthDate.day}" placeholder="31"/>
                        <label class="control-label">日</label>
                    </div>
                </div>
                <div class="control-label" th:if="${#fields.hasErrors('birthDate.*')}">
                    <label th:each="err : ${#fields.errors('birthDate.*')}" th:text="${err}"></label>
                </div>
            </div>
            <div>
                <label class="control-label" for="gender">性別</label>
                <div>
                    <label th:each="gender:${genderTypes}" id="gender">
                        <input type="radio" th:text="${gender.name()}" th:value="${gender.code}" th:field="*{gender.value}" />
                    </label>
                </div>
            </div>
            <div th:classappend="${#fields.hasErrors('phoneNumber.value')}? 'has-error'">
                <label class="control-label" for="phoneNumber">電話番号</label>
                <input class="form-control" th:field="*{phoneNumber.value}" type="text" id="phoneNumber"/>
                <div class="control-label" for="phoneNumber" th:if="${#fields.hasErrors('phoneNumber.value')}">
                    <label th:errors="*{phoneNumber.value}">年齢　入力エラー</label>
                </div>
            </div>
        </div>
    </fieldset>
    <button class="btn btn-primary">確認する</button>
    </form>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>