<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead"
      th:with="title='ユーザー登録'"/>
<body>
<div class="container">
    <h1>ユーザー登録画面</h1>
    <form name="body" method="post" th:object="${user}" action="#" th:action="@{/user/registration/confirm}">
    <ul class="bg-danger">
        <li th:each="e : ${#fields.globalErrors()}" th:class="text-danger" th:text="${e}" />
    </ul>
    <fieldset>
        <div class="form-group" >
            <legend>登録情報</legend>
            <div th:classappend="${#fields.hasErrors('id.value')}? 'has-error'">
                <label class="control-label" for="userId">ユーザーID</label>
                <input class="form-control" th:field="*{id.value}" type="email" id="userId"/>
                <div class="control-label" for="userId" th:if="${#fields.hasErrors('id.value')}">
                    <label th:errors="*{id.value}">ユーザーID 入力エラー</label>
                </div>
            </div>
            <div th:include="user/update/input ::input"></div>
        </div>
    </fieldset>
    <button class="btn btn-primary">確認する</button>
    </form>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>