<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.timerecord.TimeRecordMapper">
    <select id="newWorkTimeIdentifier" resultType="Integer">
        select nextval('給与.就業時間ID')
    </select>
    <insert id="insertWorkTimeHistory">
        INSERT INTO 給与.就業時間履歴 (就業時間ID, 従業員ID, 就業日, 開始時刻, 終了時刻, 休憩時間, 深夜休憩時間)
        VALUES (#{id}, #{employeeNumber.value}, #{work.workDate.value.value}, #{work.actualWorkTime.timeRange.startTime.value.value}, #{work.actualWorkTime.timeRange.endTime.value.value},
        #{work.actualWorkTime.daytimeBreakTime.value.value}, #{work.actualWorkTime.midnightBreakTime.value.value});
    </insert>
    <insert id="insertWorkTime">
        INSERT INTO 給与.就業時間 (従業員ID, 就業時間ID, 就業日, 開始時刻, 終了時刻, 休憩時間, 深夜休憩時間)
        VALUES (#{employeeNumber.value}, #{workTimeId}, #{work.workDate.value.value}, #{work.actualWorkTime.timeRange.startTime.value.value}, #{work.actualWorkTime.timeRange.endTime.value.value},
        #{work.actualWorkTime.daytimeBreakTime.value.value}, #{work.actualWorkTime.midnightBreakTime.value.value});
    </insert>
    <delete id="deleteWorkTime">
        DELETE FROM 給与.就業時間 WHERE 従業員ID = #{employeeNumber.value} and 就業日 = #{workDate.value.value}
    </delete>

    <select id="selectByMonth" resultType="example.domain.model.timerecord.TimeRecord">
        SELECT
        就業時間.従業員ID as "employeeNumber.value",
        就業時間.就業日 as "workDate.value.value",
        就業時間.開始時刻 as "actualWorkTime.timeRange.startTime.value.value",
        就業時間.終了時刻 as "actualWorkTime.timeRange.endTime.value.value",
        就業時間.休憩時間 as "actualWorkTime.daytimeBreakTime.value.value",
        就業時間.深夜休憩時間 as "actualWorkTime.midnightBreakTime.value.value"
        FROM 給与.就業時間 as 就業時間
        WHERE 就業時間.従業員ID = #{employeeNumber.value}
        AND to_char(就業時間.就業日,'yyyymm') = #{yearMonth}
    </select>
</mapper>