<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>勤務時間の入力</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">勤務時間の入力</h1>
  </div>
  
  <div class="attendanceInput">
    <form id="custom-form" class="ui large form" name="body" 
          method="post" action="#"
          th:object="${attendanceOfDay}"
          th:action="@{/worktime/{userId}(userId=*{user().identifier()})}">

      <div class="field">
        <label>利用者名</label>
        <div class="eight wide field" th:text="*{user().name()}">
        </div>
      </div>

      <div class="field">
        <label>勤務日</label>
        <div class="eight wide field">
          <input class="short-input" type="text" placeholder="2018-01-01"
                 id="dayOfMonth"
                 th:value="*{dayOfMonth()}" />
        </div>
      </div>

      <div class="field">
        <label>開始時刻</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="9"
                   id="startHour.value" />
            <div class="ui basic label">時間</div>
          </div>
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="30" 
                   id="startMinute.value" />
            <div class="ui basic label">分</div>
          </div>
        </div>
      </div>

      <div class="field">
        <label>終了時刻</label>
        <div class="two fields">        
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="12" 
                   id="endHour.value" />
            <div class="ui basic label">時間</div>
          </div>
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="30" 
                   id="endMinute.value" />
            <div class="ui basic label">分</div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <label>休憩時間</label>
        <div class="two fields"> 
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="15" 
                   id="breaks.value" />
            <div class="ui basic label">分</div>
          </div>
        </div>
      </div>

      <div class="ui center aligned basic segment">
        <a class="ui grey button" 
           th:href="@{/}">一覧に戻る</a>
        <button class="ui positive button">登録する</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>