<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>給与の一覧</title>
</head>
<body>
<header th:replace="fragments/header::header('給与の一覧', '給与')"></header>

<main class="container">
  <hr />

  <div class="payrollList">
    <div class="columns">
      <div class="column">
        <a href=""
           th:href="@{/payroll/{beforeMonth}(beforeMonth=${payrolls.workMonth().before()})}">
          <span><i class="fas fa-angle-double-left"></i></span>
          <span>前の月</span>
        </a>
      </div>
      <div class="column has-text-centered">
        <h3 class="title is-3" 
            th:text="${payrolls.workMonth().toStringWithUnit()}">11月</h3>
      </div>
      <div class="column has-text-right">
        <a href=""
           th:href="@{/payroll/{afterMonth}(afterMonth=${payrolls.workMonth().after()})}">
          <span>次の月</span>
          <span><i class="fas fa-angle-double-right"></i></span>
        </a>
      </div>
    </div>


    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr class="has-text-centered">
          <th class="tableEmployeeNumber has-background-white-ter has-text-centered">従業員番号</th>
          <th class="tableEmployeeName has-background-white-ter has-text-centered">氏名</th>
          <th class="has-background-white-ter has-text-centered is-3">支払額</th>
          <th class="has-background-white-ter has-text-centered">備考</th>
          <th class="has-background-white-ter is-3"></th>
        </tr>
      </thead>

      <tbody>
        <th:block th:each="payroll : ${payrolls.list()}">
          <tr th:if="${payroll.payrollStatus().available()}">
            <td class="has-text-right"
                th:text="${payroll.employeeNumber()}"/>
            <td th:text="${payroll.employeeName()}"/>
            <td class="has-text-right"
                th:text="${payroll.totalPayment()}"/>
            <td></td>
            <td class="has-text-centered">
              <a class="button is-primary is-outlined"
                 th:href="@{/attendances/{employeeNumber}/{workMonth}(employeeNumber=${payroll.employeeNumber()},workMonth=${payrolls.workMonth()})}">
                <span class="icon is-medium"><i class="far fa-calendar-alt"></i></span>
                <span>勤務時間の一覧</span>
              </a>
            </td>
          </tr>
          <tr th:unless="${payroll.payrollStatus().available()}">
            <td class="has-text-right"
                th:text="${payroll.employeeNumber()}"/>
            <td th:text="${payroll.employeeName()}"/>
            <td></td>
            <td th:utext="#{${payroll.payrollStatus().messageKey()}}"></td>
            <td class="has-text-centered">
              <a class="button is-primary is-outlined"
                 th:href="@{/attendances/{employeeNumber}/{workMonth}(employeeNumber=${payroll.employeeNumber()},workMonth=${payrolls.workMonth()})}">
                <span class="icon is-medium"><i class="far fa-calendar-alt"></i></span>
                <span>勤務時間の一覧</span>
              </a>
            </td>
          </tr>
        </th:block>
      </tbody>
    </table>

  </div>
</main>
</body>
</html>
