<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
  <title>利用者削除の確認</title>
</head>
<body>
<div class="ui container">

  <div class="ui vertical segment">
    <h1 class="ui header">削除の確認</h1>
  </div>

  <div class="ui vertical segment">

    <div class="ui form">
      <div th:include="user/update/confirm ::fields"></div>
    </div>
  </div>

    <div class="ui vertical segment">
      <a class="ui negative basic button"
         th:href="@{/user/{userId}/delete(userId=${user.identifier()})}">削除</a>
      <a th:href="@{/}">一覧に戻る</a>
    </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>
