<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead"
      th:with="title='利用者削除 確認画面'"/>
<body>
<div class="container">
    <h1>利用者削除の確認画面</h1>

    <div class="form-horizontal">

        <div th:include="user/update/confirm ::fields"></div>

        <div class="col-xs-3 col-xs-push-2 form-group">
            <a th:href="@{/user/delete/delete}" class="btn btn-primary">削除</a>
            <a class="btn btn-default" th:href="@{/}">一覧に戻る</a>
        </div>
    </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>
