/*文字*/
.emphasis {
  font-size: 2rem;
}

/*ページヘッダー*/
.pageHeader {
  margin-top: 4em;
  padding: 2em 0;
}

/*テーブルヘッダー*/
.tableHeader {
  background: #f9fafb;
  width: 40%;
}

.tableEmployeeNumber {
  width:120px;
}

.tableEmployeeName {
  width:160px;
}

.table td {
  vertical-align: middle;
}

.inputField{
  max-width: 350px;
}

.pageFooter {
  padding: 4em 0;
}

/*給与 payroll*/
.payrollList {
  max-width: 960px;
  margin: 0 auto 5rem;
  padding-top: 2em;
}

/*従業員 employee*/
.employeeList {
  max-width: 640px;
  margin: 0 auto 5rem;
  padding-top: 2em;
}

.employeeInfo {
  max-width: 400px;
  margin: 1em auto;
  padding: 2em 1.5em;
  text-align: center;
}

.employeeInput {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 2em;
}

.employeeDetail {
  max-width: 540px;
  margin: 0 auto;
  padding: 2em 0;
}

.actions {
  padding: 2em 0 0;
}

.linkCell a {
  display: block;
}

.linkCell:hover {
  background-color: #D5F5E3;
}

.linkCell a:hover {
  color: #00897B;
}

.caution {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #fff6f6;
  color: #9f3a38;
  font-weight: bold;
}

.complete {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #fcfff5;
  color: #2c662d;
  font-weight: bold;
}

/*時給 wage*/
.wageList {
  max-width: 500px;
  margin: 0 auto;
}

.wageInfo {
  max-width: 400px;
  margin: 1em auto;
  padding: 1em 1.5em;
  text-align: center;
}

.wageInput {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 2em;
}

/*勤怠 attendance*/
.attendanceList {
  max-width: 800px;
  margin: 0 auto 5rem;
  padding-top: 2em;
}

.attendanceInfo {
  max-width: 480px;
  margin: 1em auto;
  padding: 1em 1.5em;
  text-align: center;
}

.attendanceInput {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 2em;
}

.編集ボタン {
  width: 60px;
}

.編集ボタン a {
  display:block;
  width:100%;
  height:100%;
}

.土 {
  background-color: #f8ffff;
}

.日 {
  background: #fff6f6;
}

/*ダッシュボード*/
.dashboardIcon {
  font-size: 5em;
  padding: 0.5em 0 0.1em; 
}

.dashboardLink {
  position: relative;
  width: 100%;
  height: 180px;
  margin: 15px auto;
}

.dashboardLink a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboardLink span {
  display: block;
}
