<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>詳細</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('')"></header>

<main class="container">
  <header th:replace="fragments/header::header('詳細')"></header>
  <section class="has-text-centered">
    <a class="button is-primary is-outlined"
       th:href="@{/wages/{employeeNumber}(employeeNumber=${employee.employeeNumber()})}">
      <span class="icon is-medium"><i class="fas fa-calculator"></i></span>
      <span>時給の履歴</span>
    </a>
  </section>

  <section class="employeeDetail">
    <table class="table is-bordered is-fullwidth">
      <tr>
        <th class="has-text-centered tableHeader">従業員番号</th>
        <td th:text="${employee.employeeNumber()}">1</td>
      </tr>
      <tr>
        <th class="has-text-centered tableHeader">氏名</th>
        <td th:text="${employee.name()}">山田 太郎</td>
      </tr>
      <tr>
        <th class="has-text-centered tableHeader">メールアドレス</th>
        <td th:text="${employee.mailAddress()}">someone@example.com</td>
      </tr>
      <tr>
        <th class="has-text-centered tableHeader">電話番号</th>
        <td th:text="${employee.phoneNumber()}">0120-888-888</td>
      </tr>
    </table>
  </section>

  <div class="formFooter has-text-centered">
    <a class="button is-light" th:href="@{/employees}">一覧に戻る</a>
    <a class="button is-info is-outlined"
       th:href="@{/employees/{employeeNumber}/update(employeeNumber=${employee.employeeNumber()})}">
      変更
    </a>
    <button id="deleteConfirmButton" class="button is-danger is-outlined">削除</button>
  </div>
</main>

<!-- 削除の確認 -->
<div id="deleteConfirmModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <h3 class="caution"><strong th:text="${employee.name()}">従業員さん</strong>を削除しますか？</h3>
    <div class="actions has-text-centered">
      <button id="close" class="button is-light">キャンセル</button>
      <a id="deleteButton" class="button is-danger"
         th:href="@{/employees/{employeeNumber}/delete(employeeNumber=${employee.employeeNumber()})}">
        削除
      </a>
    </div>
  </div>
</div>

<script>
    $('#deleteConfirmButton').click(function () {
        $('#deleteConfirmModal').addClass('is-active');
        }
    )

    $("#close, div.modal-background").click(function() {
        $("#deleteConfirmModal").removeClass("is-active");
        }
    );
</script>

<!-- 変更の完了 -->
<div id="updateCompletedModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <h3 class="complete">従業員情報を変更しました。</h3>
    <div class="actions has-text-centered">
      <button id="close" class="button is-info is-outlined">ＯＫ</button>
    </div>
  </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var updateResult = /*[[${updateResult}]]*/ '';
    $(function(){
        if(updateResult === 'completed'){
            $('#updateCompletedModal').addClass('is-active');
        }
    });
    /*]]>*/
    $("#close, div.modal-background").click(function() {
        $("#updateCompletedModal").removeClass("is-active");
        }
    );
</script>
</body>
</html>