<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>従業員の一覧</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('従業員')"></header>

<main class="container">
  <header th:replace="fragments/header::header('従業員の一覧')"></header>

  <section class="employeeListHeader">
    <a class="button is-primary is-outlined"
       th:href="@{/employees/register}">
      <span class="icon is-medium"><i class="fas fa-user-plus"></i></span>
      <span>従業員の新規登録</span>
    </a>
  </section>

  <hr />

  <section class="employeeList">
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th class="tableEmployeeNumber has-background-white-ter has-text-centered">従業員番号</th>
          <th class="tableEmployeeName has-background-white-ter has-text-centered">氏名</th>
          <th class="has-background-white-ter has-text-centered">現在の時給</th>
          <th class="has-background-white-ter has-text-centered">開始日</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="contract : ${contracts.list()}">
          <td class="has-text-right"
              th:text="${contract.employeeNumber()}">123</td>
          <td class="linkCell">
            <a th:href="@{/employees/{employeeNumber}(employeeNumber=${contract.employeeNumber()})}">
              <span th:text="${contract.employeeName()}"></span>
            </a>
          </td>
          <td class="has-text-right" th:text="${contract.todayHourlyWage()}">1,234円</td>
          <td th:text="${contract.contractStartingDate()}">2001-01-02</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
</body>
</html>