<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>勤務時間の一覧</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">勤務時間の一覧</h1>
  </div>
  
  <div class="attendanceInfo">
    <table class="ui celled center aligned definition table">
      <tr>
        <th class="four wide tableHeader">従業員名</th>
        <td class="twelve wide"
            th:text="${worker.name()}"></td>
      </tr>
    </table>
    <table class="ui celled center aligned small table">
      <thead>
        <tr>
          <th class="eight wide">総勤務時間(時間)</th>
          <th class="eight wide">総休憩時間(分)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${monthlyAttendances.totalWorks()}">50</td>
          <td th:text="${monthlyAttendances.totalBreaks()}">100</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui section divider"></div> 
  
  <h2 class="ui center aligned header"><<   11月   >></h2>
  <div class="attendanceList">
    <table class="ui striped celled table">
      <thead>
        <tr class="center aligned">
          <th class="one wide">日</th>
          <th class="one wide">曜日</th>
          <th>開始時刻</th>
          <th>終了時刻</th>
          <th>休憩時間</th>
          <th>勤務時間</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="attendance : ${monthlyAttendances.list()}">
          <tr th:if="${attendance.attendance().work()}">
            <td class="center aligned"
                th:text="${attendance.date().dayOfMonth()}"></td>
            <td class="center aligned"
                th:text="${attendance.date().dayOfWeek()}"></td>
            <td th:text="${attendance.workTimeRange().start()}"></td>
            <td th:text="${attendance.workTimeRange().end()}"></td>
            <td th:text="${attendance.breaks()}"></td>
            <td th:text="${attendance.workTime()}"></td>
          </tr>
          <tr th:unless="${attendance.attendance().work()}">
            <td class="center aligned"
                th:text="${attendance.date().dayOfMonth()}"></td>
            <td class="center aligned"
                th:text="${attendance.date().dayOfWeek()}"></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${attendance.workTime()}"></td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>

  <div class="ui center aligned basic segment">
    <a class="ui grey button" th:href="@{/attendance/workers}">一覧に戻る</a>
  </div>
</div>

</body>
</html>