<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.datasource.user.UserMapper">

    <resultMap id="user" type="example.model.user.User">
        <id property="id.value" column="user_id"/>
        <result property="name.text" column="name"/>
        <result property="password.value" column="password"/>
        <result property="dateOfBirth.date" column="birth_date"/>
        <result property="phoneNumber.text" column="phone_number"/>
        <result property="gender" column="gender" />
    </resultMap>

    <resultMap id="userSummary" type="example.model.user.UserSummary">
        <id property="id.value" column="user_id"/>
        <result property="name.text" column="name"/>
        <result property="password.value" column="password"/>
    </resultMap>

    <select id="findBy" resultMap="user">
        SELECT user_id, name, password, birth_date, phone_number, gender
        FROM users.users
        WHERE user_id = #{id.value}
    </select>

    <select id="list" resultMap="userSummary">
        SELECT user_id, name, password
        FROM users.users
        ORDER BY user_id;
    </select>

    <insert id="register">
        INSERT INTO users.users (user_id, name, password, birth_date, phone_number, gender)
        VALUES (#{user.id.value}, #{user.name.value}, 'hogehoge', #{user.birthDate.value}, #{user.phoneNumber.value}, #{user.gender});
    </insert>

    <update id="update">
        UPDATE users.users SET
          name = #{user.name.text},
          birth_date = #{user.dateOfBirth.date},
          phone_number = #{user.phoneNumber.text},
          gender = #{user.gender}
        WHERE user_id = #{user.id.value};
    </update>

    <delete id="delete">
        DELETE FROM users.users
        WHERE user_id = #{user.id.value}
    </delete>
</mapper>