<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入力フィールドの部品</title>
</head>
<body>
<div id="menuHead" th:fragment="menuHead(active)">
    <div class="ui top fixed inverted stackable teal menu">
        <a class="item" th:classappend="${active.equals('ダッシュボード')} ? 'active' : ''"
           th:href="@{/}">
            <i class="tachometer alternate icon"></i>ダッシュボード
        </a>
        <a class="item" th:classappend="${active.equals('勤務時間入力')} ? 'active' : ''"
           th:href="@{/timerecord}">
            <i class="clock outline icon"></i>勤務時間の入力
        </a>
        <a class="item" th:classappend="${active.equals('給与')} ? 'active' : ''"
           th:href="@{/payroll}">
            <i class="yen sign icon"></i>給与の一覧
        </a>
        <a class="item" th:classappend="${active.equals('従業員')} ? 'active' : ''"
           th:href="@{/employees}">
            <i class="user icon"></i>従業員の一覧
        </a>
    </div>
</div>
</body>
</html>