<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>

    <title th:replace="${title}">(title)</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/site.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>

</body>
</html>
