<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ラジオボタンのセット</title>
</head>
<body>

<div th:fragment="macro(field_id,label,members)"
     class="inline fields"
     th:classappend="${#fields.hasErrors('__${field_id}__')}? 'error'">

  <label th:text="${label}">ラベル</label>
  <div class="field" th:each="each:${__${members}__}">
    <div class="ui radio checkbox">
      <input type="radio" name="dummy"
             th:value="${each.name()}"
             th:field="*{__${field_id}__}"/>
      <label th:for="${#ids.prev('__${field_id}__')}"
             th:text="${each.name()}">
      </label>
    </div>
  </div>

  <div class="ui left pointing red basic label"
       th:if="${#fields.hasErrors('__${field_id}__')}">
    <span th:errors="*{__${field_id}__}">性別　入力エラー</span>
  </div>
</div>

</body>
</html>