<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>時給の登録の確認</title>
</head>
<body>
<header th:replace="fragments/header::header('時給の登録の確認', '', ~{})"></header>

<main class="container">
  <div class="wageInput">
    <form id="custom-form" class="ui large form" th:action="@{/wages/{employeeNumber}/register/register(employeeNumber=${employee.employeeNumber()})}" method="post">
      <table class="table is-bordered is-fullwidth">
        <tr>
          <td class="has-text-centered tableHeader">氏名</td>
          <td colspan="2">
            <input class="input is-static" type="text" readonly
                   th:value="${employee.name()}">
          </td>
        </tr>
        <tr>
          <td class="has-text-centered tableHeader">開始日</td>
          <td colspan="2">
            <input class="input is-static" type="date" name="effectiveDate" readonly
                   th:value="${effectiveDate}">
          </td>
        </tr>
        <tr>
          <td class="has-text-centered tableHeader">時給</td>
          <td>
            <input class="input is-static has-text-right" type="number" name="hourlyWage" readonly
                   th:value="${hourlyWage.value()}"/>
          </td>
          <td class="has-background-white-ter">円</td>
        </tr>
      </table>

      <div class="formFooter has-text-centered">
        <button form="again-form" class="button is-light">入力に戻る</button>
        <button class="button is-primary is-outlined">登録</button>
      </div>
    </form>
  </div>
  
  <form id="again-form" class="ui large form" th:action="@{/wages/{employeeNumber}/register/again(employeeNumber=${employee.employeeNumber()})}" method="post">
    <input type="hidden" name="effectiveDate" th:value="${effectiveDate}">
    <input type="hidden" name="hourlyWage" th:value="${hourlyWage}"/>
  </form>
</main>
</body>
</html>