<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>時給の登録</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('')"></header>

<main class="container">
  <header th:replace="fragments/header::header('時給の登録')"></header>

  <section class="wageInfo">
    <table class="table is-bordered is-fullwidth">
      <tr>
        <th class="tableHeader has-text-centered">氏名</th>
        <td th:text="${employee.name()}">テスト太郎</td>
      </tr>
    </table>
  </section>

  <hr />

  <section class="wageInput has-text-centered">
    <form id="custom-form" class="form" th:action="@{/wages/{employeeNumber}/register/confirm(employeeNumber=${employee.employeeNumber()})}" method="post">
      <div th:replace="fragments/field::macro('開始日', ~{::div#effectiveDateField})">
        <div id="effectiveDateField" class="field-body">
          <p class="control is-expanded">
            <input class="input" type="date" placeholder="2018-01-01" name="effectiveDate"
                   th:value="${effectiveDate}">
          </p>
        </div>
      </div>

      <div th:replace="fragments/field::macro('時給', ~{::div#hourlyWageField})">
        <div id="hourlyWageField" class="field-body">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="number" placeholder="936" name="baseHourlyWage"
                     th:value="${baseHourlyWage.value().value().value()}"/>
            </p>
            <p class="control">
              <a class="button is-static">円</a>
            </p>
          </div>
        </div>
      </div>

      <div class="formFooter has-text-centered">
        <a class="button is-light"
           th:href="@{/wages/{employeeNumber}(employeeNumber=${employee.employeeNumber()})}">時給の履歴に戻る</a>
        <button class="button is-primary is-outlined">確認</button>
      </div>
    </form>
  </section>
</main>

</body>
</html>