<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>時給の履歴</title>
</head>
<body>
<header th:replace="fragments/header::header('時給の履歴', '', ~{})"></header>

<main class="container">
  <div class="wageInfo">
    <table class="table is-bordered is-fullwidth">
      <tr>
        <th class="tableHeader has-text-centered">従業員番号</th>
        <td th:text="${employee.employeeNumber()}">1</td>
      </tr>
      <tr>
        <th class="tableHeader has-text-centered">氏名</th>
        <td th:text="${employee.name()}">テスト太郎</td>
      </tr>
    </table>
  </div>

  <hr />

  <div class="wageList">

    <div class="has-text-centered">
      <a class="button is-primary is-outlined"
         th:href="@{/wages/{employeeNumber}/register(employeeNumber=${employee.employeeNumber()})}">
      <span class="icon is-medium"><i class="fas fa-coins"></i></span>
      <span>時給の登録</span>
      </a>
    </div>

    <section class="section">
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th class="tableHeader has-text-centered">開始日付</th>
            <th class="tableHeader has-text-centered">時給</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="contractWage : ${contractWages.list()}">
          <td th:text="${contractWage.effectiveDate()}">2018/12/01</td>
          <td class="has-text-right" th:text="${contractWage.hourlyWage()}">937</td>
        </tr>
        </tbody>
      </table>
    </section>

    <div class="formFooter has-text-centered">
      <div class="has-text-centered">
        <a class="button is-light"
           th:href="@{/employees/{employeeNumber}(employeeNumber=${employee.employeeNumber()})}">詳細に戻る</a>
      </div>
    </div>
  </div>
</main>

</body>
</html>