<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.attendance.AttendanceMapper">
    <select id="newWorkTimeIdentifier" resultType="Long">
        select nextval('給与.就業時間IDシーケンサー')
    </select>
    <insert id="registerWorkTime">
        INSERT INTO 給与.就業時間 (就業時間ID, ユーザーID, 就業日, 開始時間, 終了時間, 休憩時間, 登録日時)
        VALUES (#{id},  #{userId.value}, #{work.date.value}, #{work.start.value}, #{work.end.value}, #{work.breaks.value}, now());
    </insert>
    <insert id="registerWorkTimeMapper">
        INSERT INTO 給与.就業時間対応表 (ユーザーID, 就業日, 就業時間ID)
        VALUES (#{userId.value}, #{workDay.value}, #{workTimeId});
    </insert>
    <delete id="deleteWorkTimeMapper">
        DELETE FROM 給与.就業時間対応表 WHERE ユーザーID = #{userId.value} and 就業日 = #{workDay.value}
    </delete>

    <resultMap id="timeRecord" type="example.domain.model.attendance.AttendanceOfDay">
        <result property="date.value" column="就業日"/>
        <result property="start.value" column="開始時間"/>
        <result property="end.value" column="終了時間"/>
        <result property="breaks.value" column="休憩時間"/>
    </resultMap>

    <select id="findBy" resultMap="timeRecord">
        SELECT
        就業時間.就業日,
        就業時間.開始時間,
        就業時間.終了時間,
        就業時間.休憩時間
        FROM 給与.就業時間対応表 as 就業時間対応表
        INNER JOIN 給与.就業時間 as 就業時間 on (
            就業時間対応表.就業時間ID = 就業時間.就業時間ID
        )
        WHERE 就業時間対応表.ユーザーID = #{userId.value} AND 就業時間対応表.就業日 = #{workDay.value}
    </select>
</mapper>