<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.attendance.AttendanceMapper">
    <select id="newWorkTimeIdentifier" resultType="Integer">
        select nextval('給与.就業時間ID')
    </select>
    <insert id="insertWorkTimeHistory">
        INSERT INTO 給与.就業時間履歴 (就業時間ID, 従業員ID, 就業日, 開始時刻, 終了時刻, 休憩時間)
        VALUES (#{id}, #{workerNumber.value}, #{work.workDay.value.value}, #{work.workTimeRange.startTime.value.value}, #{work.workTimeRange.endTime.value.value}, #{work.normalBreakTime.value.value});
    </insert>
    <insert id="insertWorkTime">
        INSERT INTO 給与.就業時間 (従業員ID, 就業時間ID, 就業日, 開始時刻, 終了時刻, 休憩時間)
        VALUES (#{workerNumber.value}, #{workTimeId}, #{work.workDay.value.value}, #{work.workTimeRange.startTime.value.value}, #{work.workTimeRange.endTime.value.value}, #{work.normalBreakTime.value.value});
    </insert>
    <delete id="deleteWorkTime">
        DELETE FROM 給与.就業時間 WHERE 従業員ID = #{workerNumber.value} and 就業日 = #{workDay.value.value}
    </delete>

    <resultMap id="timeRecord" type="example.domain.model.attendance.Attendance">
        <result property="workDay.value.value" column="就業日"/>
        <result property="workTimeRange.startTime.value.value" column="開始時刻"/>
        <result property="workTimeRange.endTime.value.value" column="終了時刻"/>
        <result property="normalBreakTime.value.value" column="休憩時間"/>
    </resultMap>

    <select id="selectByMonth" resultMap="timeRecord">
        SELECT
        就業時間.就業日,
        就業時間.開始時刻,
        就業時間.終了時刻,
        就業時間.休憩時間
        FROM 給与.就業時間 as 就業時間
        WHERE 就業時間.従業員ID = #{workerNumber.value}
          AND to_char(就業時間.就業日,'yyyymm') LIKE #{workMonth.endingWithCondition}
    </select>
</mapper>