<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>ダッシュボード</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">ダッシュボード</h1>
  </div>

  <div class="ui centerd three column grid">
    <div class="column">
      <div class="ui center aligned segment">
        <div class="dashboardIcon">
          <a class="ui icon header"
             th:href="@{/attendance}">
            <i class="clock outline icon"></i>
            <div class="content">勤務時間入力</div>
          </a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui center aligned segment">
        <div class="dashboardIcon">
          <a class="ui icon header"
             th:href="@{/payroll/workers}">
            <i class="yen sign icon"></i>
            <span class="content">給与計算</span>
          </a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui center aligned segment">
        <div class="dashboardIcon">
          <a class="ui icon header"
             th:href="@{/worker/workers}">
            <i class="user icon"></i>
            <div class="content">従業員</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>