<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>トップ</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">利用者一覧</h1>
  </div>
  
  <div class="ui right aligned basic segment">
    <a class="ui labeled icon primary button"
       th:href="@{/user/register}">
      <i class="user plus icon"></i>利用者の新規登録</a>      
  </div>
  
  <div class="ui basic segment">
    <table class="ui striped celled table">
     <thead>
        <tr>
          <th class="one wide">ID</th>
          <th class="three wide">利用者名</th>
          <th class="six wide">メールアドレス</th>
          <th class="six wide"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users.list()}">
          <td th:text="${user.identifier()}"/>
          <td th:text="${user.name()}"/>
          <td th:text="${user.mailAddress()}"/>
          <td class="ui center aligned">
            <a class="ui mini button"
               th:href="@{/attendance/{userId}/list(userId=${user.identifier()})}">
              <i class="calendar alternate outline icon"></i>
            </a>
            <a class="ui mini primary button"
               th:href="@{/attendance/{userId}(userId=${user.identifier()})}">
              <i class="clock outline icon"></i>勤務時間入力</a>
            <a class="ui mini positive button"
               th:href="@{/user/{userId}/update(userId=${user.identifier()})}">
              <i class="edit icon"></i>変更</a>
            <a class="ui mini negative button"
               th:href="@{/user/{userId}/delete/view(userId=${user.identifier()})}">
              <i class="trash icon"></i>削除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>