<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
    <title>トップ</title>
</head>
<body>
<div class="ui container">

  <div class="ui basic segment">
  <h1 class="ui header">利用者一覧</h1>
  </div>

    <a class="ui positive basic button"
       th:href="@{/user/register}">利用者の新規登録</a>

  <div class="ui basic segment">

    <table class="ui celled table">
      <thead>
        <tr>
          <th>利用者ID</th>
          <th>email</th>
          <th>利用者名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users.list()}">
        <td th:text="${user.identifier()}"/>
        <td th:text="${user.email()}"/>
        <td th:text="${user.name()}"/>
        <td>
        <a class="ui secondary basic button"
           th:href="@{/user/{userId}/update(userId=${user.identifier()})}">変更</a>
        </td>
        <td>
        <a class="ui negative basic button"
           th:href="@{/user/{userId}/delete/view(userId=${user.identifier()})}">削除</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<footer th:include="fragments/layout :: footer"/>
</body>
</html>