<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>勤務時間の一覧</title>
</head>
<body>
<div th:replace="fragments/menuHead::menuHead('')">
</div>

<div class="ui container">
  <div class="pageHeader">
    <h1 class="ui center aligned header">勤務時間の一覧</h1>
  </div>

  <div class="attendanceInfo">
    <table class="ui celled center aligned definition table">
      <tr>
        <th class="six wide tableHeader">氏名</th>
        <td class="ten wide"
            th:text="${employee.name()}"></td>
      </tr>
    </table>
    <table class="ui celled center aligned definition table">
      <tr>
        <th class="six wide tableHeader">総勤務時間</th>
        <td class="ten wide"
            th:text="${attendance.totalWorkTime()}">50
        </td>
      </tr>
    </table>
  </div>

  <div class="ui section divider"></div>

  <div class="attendanceList">

    <div class="ui centerd three column grid">
      <div class="left aligned column">
        <a href=""
           th:href="@{/attendances/{employeeNumber}/{beforeMonth}(employeeNumber=${employee.employeeNumber()},beforeMonth=${beforeMonth})}">
          <i class="angle double left link large icon"></i>前の月
        </a>
      </div>
      <div class="column">
        <h2 class="ui center aligned header" th:text="${attendance.month().toStringWithUnit()}">11月</h2>
      </div>
      <div class="right aligned column">
        <a href=""
           th:href="@{/attendances/{employeeNumber}/{afterMonth}(employeeNumber=${employee.employeeNumber()},afterMonth=${afterMonth})}">
          次の月<i class="angle double right link large icon"></i>
        </a>
      </div>
    </div>

    <table class="ui celled table">
      <thead>
      <tr class="center aligned">
        <th colspan="2" class="one wide">日付</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>休憩時間</th>
        <th>勤務時間</th>
        <th class="編集ボタン">編集</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="workDate : ${attendance.listWorkDates()}">
        <tr th:class="${workDate.dayOfWeek()}" th:if="${attendance.statusOf(workDate).isWork()}" th:object="${attendance.at(workDate)}">
          <td class="center aligned"
              th:text="${workDate.dayOfMonth()}"></td>
          <td class="center aligned"
              th:text="${workDate.dayOfWeek()}"></td>
          <td th:text="*{actualWorkTime().timeRange().start()}"></td>
          <td th:text="*{actualWorkTime().timeRange().end()}"></td>
          <td th:text="*{actualWorkTime().breakTime()}"></td>
          <td th:text="*{actualWorkTime().workTime()}"></td>
          <td class="center aligned selectable linkCell">
            <a th:href="@{/timerecord?employeeNumber={employeeNumber}&workDate={workDate}(employeeNumber=${employee.employeeNumber()},workDate=${workDate})}">
              <i class="edit icon"></i>
            </a>
          </td>
        </tr>
        <tr th:class="${workDate.dayOfWeek()}" th:unless="${attendance.statusOf(workDate).isWork()}">
          <td class="center aligned"
              th:text="${workDate.dayOfMonth()}"></td>
          <td class="center aligned"
              th:text="${workDate.dayOfWeek()}"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="center aligned selectable linkCell">
            <a th:href="@{/timerecord?employeeNumber={employeeNumber}&workDate={workDate}(employeeNumber=${employee.employeeNumber()},workDate=${workDate})}">
              <i class="edit icon"></i>
            </a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>

  </div>
</div>

</body>
</html>