<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.user.UserMapper">

    <resultMap id="user" type="example.domain.model.user.User">
        <id property="identifier.value" column="user_id"/>
        <result property="email.value" column="email"/>
        <result property="name.value" column="name"/>
        <result property="dateOfBirth.value" column="date_of_birth"/>
        <result property="phoneNumber.value" column="phone_number"/>
        <result property="gender.value" column="gender"/>
    </resultMap>

    <resultMap id="userSummary" type="example.domain.model.user.UserSummary">
        <id property="identifier.value" column="user_id"/>
        <result property="email.value" column="email"/>
        <result property="name.value" column="name"/>
    </resultMap>

    <select id="findBy" resultMap="user">
        SELECT
            user_id,
            email,
            name,
            date_of_birth,
            phone_number,
            gender
        FROM users.users
        WHERE user_id = #{identifier.value}
    </select>

    <select id="list" resultMap="userSummary">
        SELECT
            user_id,
            email,
            name
        FROM users.users
        ORDER BY user_id;
    </select>

    <insert id="register">
        INSERT INTO users.users (user_id, email, name, date_of_birth, phone_number, gender)
        VALUES (#{user.identifier.value}, #{user.email.value}, #{user.name.value}, #{user.dateOfBirth.value}, #{user.phoneNumber.value},
                #{user.gender.value});
    </insert>

    <delete id="delete">
        DELETE FROM users.users
        WHERE user_id = #{user.identifier.value}
    </delete>
</mapper>