<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>従業員の新規登録</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">従業員の新規登録</h1>
  </div>

  <div class="userInput">
    <form id="custom-form" class="ui large form" name="body"
          method="post" action="#"
          th:object="${worker}"
          th:action="@{/worker/register/confirm}">

      <div class="ui basic segment">
        <div class="field"
             th:replace="fragments/input::macro('name.value','名前','名前')">
          <label>名前</label>
          <input type="text">
        </div>

        <div class="field"
             th:replace="fragments/input::macro('mailAddress.value','メールアドレス','someone@example.com')">
          <label>メールアドレス</label>
          <input type="text">
        </div>

        <div class="field"
             th:replace="fragments/input::macro('phoneNumber.value','電話番号','03-1234-5678')">
          <label>電話番号</label>
          <input type="text">
        </div>
      </div>

      <div class="ui center aligned basic segment">
        <a class="ui grey button"
           th:href="@{/}">一覧に戻る</a>
        <button class="ui positive button">確認する</button>
      </div>
    </form>

  </div>
</div>

</body>
</html>