<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
    <title>利用者登録の確認</title>
</head>
<body>
<div class="ui container">
  <div class="ui vertical segment">
  <h1 class="ui header">利用者登録の確認</h1>
  </div>

    <div class="ui form basic segment">
      <div th:include="user/update/confirm ::fields"></div>
    </div>

    <div class="ui basic segment">
      <a class="ui positive basic button"
         th:href="@{/user/register/register}">登録する</a>
      <a th:href="@{/user/register}">戻る</a>
    </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>