<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
    <title>利用者登録の確認</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">利用者登録の確認</h1>
  </div>

  <div class="userInput">
    <div class="ui large form">
      <div class="ui segment">
        <div th:include="user/update/confirm ::fields"></div>
      </div>
    </div>
  </div>

  <div class="ui center aligned basic segment">
    <a  class="ui grey button"
       th:href="@{/user/register/input/again}">修正する</a>
    <a class="ui positive button"
       th:href="@{/user/register/register}">登録する</a>
  </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>