<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
    <title>ユーザの新規登録</title>
</head>
<div class="ui container">
<h1 class="ui header">ユーザー登録画面</h1>

  <form id="custom-form" class="ui form" name="body"
        method="post" action="#"
        th:object="${user}" th:action="@{/user/register/confirm}">

    <div th:replace="fragments/layout::input('identifier.value','ユーザID','someone@example.com')">
      <label>ID</label>
      <input type="text">
    </div>

    <div th:include="user/update/form ::input-fields"></div>

    <div class="form-group">
            <div class="col-xs-3 col-xs-push-2">
                <button class="btn btn-success">確認する</button>
                <a class="btn btn-default" th:href="@{/}" >一覧に戻る</a>
            </div>
        </div>
    </form>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>