<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>利用者の新規登録</title>
</head>
<body>
<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui center aligned header">利用者の新規登録</h1>
  </div>

  <div class="ui middle aligned center aligned grid">
    <form id="custom-form" class="ui large form" name="body"
      method="post" action="#"
      th:object="${user}" 
      th:action="@{/user/register/confirm}">

      <div class="column">
         <div th:include="user/update/form ::input-fields"></div>

      </div>

      <div class="ui basic segment">
        <a class="ui grey button" 
          th:href="@{/}">一覧に戻る</a>
        <button class="ui positive button">確認する</button>
      </div>
    </form>
    
  </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>