<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>ダッシュボード</title>
</head>
<body>
<header th:replace="fragments/header::header('ダッシュボード', 'ダッシュボード', ~{})">
</header>

<main class="container">
  <div class="columns">

    <div class="column">
      <div class="box button dashboardLink">
        <a th:href="@{/timerecord}">
          <i class="far fa-clock dashboardIcon"></i>
          <span class="title is-5">勤務時間の入力</span>
        </a>
      </div>    
    </div>

    <div class="column">
      <div class="box button dashboardLink">
        <a th:href="@{/payroll}">
          <i class="fas fa-yen-sign dashboardIcon"></i>            
          <span class="title is-5">給与の一覧</span>
        </a>
      </div>
    </div>

    <div class="column">
      <div class="box button dashboardLink">
        <a th:href="@{/employees}">
          <i class="fas fa-user dashboardIcon"></i>
          <span class="title is-5">従業員の一覧</span>
        </a>
      </div>
    </div>

  </div>
</main>

</body>
</html>