<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead"
      th:with="title='ユーザー更新 確認画面'"/>
<body>
<div class="container">
    <h1>ユーザー更新確認画面</h1>
    <div class="form-horizontal">

        <div th:fragment="fields">

        <div class="form-group">
            <label class="col-xs-2 control-label">ユーザーID</label>
            <div class="col-xs-4 control-label">
                <p class="text-left" th:text="${user.identifier()}">someone@example.com</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">名前</label>
            <div class="col-xs-4 control-label" >
                <p class="text-left" th:text="${user.name()}">someone</p>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-xs-2 control-label">生年月日</label>
            <div class="col-xs-4 control-label" >
                <p class="text-left" th:text="${user.dateOfBirth()}">1900/10/21</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">性別</label>
            <div class="col-xs-4 control-label">
                <p class="text-left" th:text="${user.gender()}">男性</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">電話番号</label>
            <div class="col-xs-4 control-label">
                <p class="text-left" th:text="${user.phoneNumber()}">0120-888-888</p>
            </div>
        </div>

        </div>

        <div class="col-xs-3 col-xs-push-2 form-group">
            <a class="btn btn-warning" th:href="@{/user/update/complete}">保存する</a>
            <a class="btn btn-default" th:href="@{/user/update/input/again}" >入力に戻る</a>
        </div>
    </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>