<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: htmlhead(~{::title})">
    <title>利用者情報の変更</title>
</head>
<body>
<div class="ui container">
  <div class="ui vertical segment">
  <h1 class="ui header">利用者情報の変更</h1>
  </div>

  <div class="ui vertical segment">

  <form id="custom-form" class="ui form"
        name="body" method="post" action="#"
        th:object="${user}" th:action="@{/user/update/confirm}">

    <div class="ui vertical segment">
  <div class="inline field">
    <label>対象ID</label>
    <p th:text="${user.identifier()}">山田太郎</p>
  </div>

    <div th:fragment="input-fields">

    <div th:replace="fragments/layout::input('name.value','名前','名前')">
      <label>名前</label>
      <input type="text">
    </div>

      <div th:replace="fragments/layout::input('dateOfBirth.value','生年月日','2000-01-01')">
        <label>生年月日</label>
        <input type="text">
      </div>

      <div th:replace="fragments/layout::input('phoneNumber.value','電話番号','03-1234-5678')">
        <label>電話番号</label>
        <input type="text">
      </div>

        <div class="inline fields"
             th:classappend="${#fields.hasErrors('gender.value')}? 'error'">

          <label>性別</label>
          <div class="field" th:each="each,state:${genderTypes}">
            <div class="ui radio checkbox">
              <input type="radio" name="gender"
                     th:value="${each.name()}"
                     th:field="*{gender.value}">
              <label th:for="${#ids.prev('gender.value')}"
                     th:text="${each.name()}">
              </label>
            </div>
          </div>

          <div class="ui left pointing red basic label"
               th:if="${#fields.hasErrors('gender.value')}">
            <span th:errors="*{gender.value}">性別　入力エラー</span>
          </div>

        </div>
</div>
    </div>
      <div class="ui basic segment">
        <button class="ui secondary basic button">確認する</button>
        <a th:href="@{/}">一覧に戻る</a>
      </div>
    </form>
  </div>
</div>

<footer th:include="fragments/layout :: footer"/>
</body>
</html>