<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>従業員情報の変更</title>
</head>
<body>
<header th:replace="fragments/header::header('従業員情報の変更', '', ~{::div#headerContents})">
  <div id="headerContents" class="employeeInfo">
    <table class="table is-bordered is-fullwidth">
      <tr>
        <td class="tableHeader has-text-centered">従業員番号</td>
        <td th:text="${employeeNumber}">9999</td>
      </tr>
    </table>
  </div>
</header>

<hr />

<main class="container">
  <div class="employeeInput has-text-centered">
    <form id="custom-form" class="form" name="body"
        method="post" action="#"
        th:object="${bulkProfileUpdateForm}"
        th:action="@{/employees/{employeeNumber}/update/register(employeeNumber=${employeeNumber})}">
      <div class="field"
           th:replace="fragments/input::macro('name','氏名','名前')">
        <label>氏名</label>
        <input type="text">
      </div>

      <div class="field"
           th:replace="fragments/input::macro('mailAddress','メールアドレス','someone@example.com')">
        <label>メールアドレス</label>
        <input type="text">
      </div>

      <div class="field"
           th:replace="fragments/input::macro('phoneNumber','電話番号','03-1234-5678')">
        <label>電話番号</label>
        <input type="text">
      </div>
      
      <div class="formFooter has-text-centered">
        <a class="button is-light" 
           th:href="@{/employees/{employeeNumber}(employeeNumber=${employeeNumber})}">詳細に戻る</a>
        <button class="button is-primary is-outlined">保存</button>
      </div>
    </form>
  </div>
</main>

</body>
</html>